
venv/
.history/
__pycache__/
.idea/
logs/celery.log
celerybeat-schedule
.vscode/
setup.cfg
.env
**/migrations/**
!**/migrations
!**/migrations/__init__.py
.DS_Store
celerybeat.pid

# Ignore DevSpace cache and log folder
.devspace/
