{% include "emails/layout/header.html" %}
<!--------------------Email Content Start-------------------------------------------------->
<table width="90%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="center">
      <div style="line-height: 44px;">
        <font
          face="Arial, Helvetica, sans-serif"
          size="5"
          color="#57697e"
          style="font-size: 34px;"
        >
          <span
            style="
              font-family: Arial, Helvetica, sans-serif;
              font-size: 34px;
              color: #161531;
            "
          >
            <h5 style="margin: 20px auto;">Password Reset</h5>
          </span>
        </font>
      </div>
    </td>
  </tr>
  <tr>
    <td align="justify">
      <div style="line-height: 24px;">
        <font
          face="Arial, Helvetica, sans-serif"
          size="4"
          color="#57697e"
          style="font-size: 15px;"
        >
          <span
            style="
              font-family: Arial, Helvetica, sans-serif;
              font-size: 15px;
              color: #57697e;
            "
          >
            Hello <strong> {{ fullname }}</strong>, <br /><br />
            Kindly use the token below to reset your password.<br />
          </span>
        </font>
      </div>
      <div style="height: 40px; line-height: 40px; font-size: 10px;"></div>
    </td>
  </tr>

  <tr>
    <td align="center">
      <div style="line-height: 24px;">
        <font
          face="Arial, Helvetica, sans-serif"
          size="4"
          color="#57697e"
          style="font-size: 15px;"
        >
          <span
            style="
              font-family: Arial, Helvetica, sans-serif;
              font-size: 15px;
              color: #57697e;
            "
          >
            <a
              href="#"
              style="
                background-color: #6873ef;
                padding: 12px 32px;
                border-radius: 4px;
                border: 1px solid #6873ef;
                color: #fff;
                text-decoration: none;
              "
            >
              {{ token }}</a
            >
          </span>
        </font>
      </div>
      <div
        style="
          line-height: 40px;
          font-size: 10px;
          text-align: left;
          font-family: Arial, Helvetica, sans-serif;
          font-size: 15px;
          color: #57697e;
        "
      >
        <p>
          This token is only valid for 24 hours
        </p>
        <p>If you did not make this request, kindly ignore this email.</p>
      </div>
    </td>
  </tr>
</table>
<!-------------------------------------------Email Content End---------------------->
{% include "emails/layout/footer.html" %}
