				</td></tr>

				<tr>
					<td class="iage_footer" align="center" bgcolor="#FAFAFA">
						<div style="height: 40px; line-height: 40px; font-size: 10px;"> </div>

						<table width="100%" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td align="center">
									<font face="Arial, Helvetica, sans-serif" size="3" color="#96a5b5" style="font-size: 13px;">

										<span style="font-family: Arial, Helvetica, sans-serif; font-size: 13px; color: #96a5b5;">
											If you no longer wish to receive such emails from us, please click here to <br>
											unsubscribe or manage your email notifications
										</span>
									</font>
								</td>
							</tr>

							<tr> 
								<td align="center">
									<font face="Arial, Helvetica, sans-serif" size="3" color="#96a5b5" style="font-size: 13px;">

										<span style="font-family: Arial, Helvetica, sans-serif; font-size: 13px; color: #96a5b5;">
											<br>
											Copyright © 2020 Zone Tech Park. All rights reserve
										</span>
									</font>
								</td>
							</tr>
						</table>

						<div style="height: 30px; line-height: 30px; font-size: 10px;"> </div>

					</td>
				</tr>




					<tr>
						<td>
							<div style="height: 80px; line-height: 80px; font-size: 10px;"> </div>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>

</div>
</body>
</html>
